.gameCardList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 12fr));
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 1rem auto 3rem;
}

:global(.dex-count-0) .gameCardList {
  display: none;
}

:global(.dex-count-1) .gameCardList {
  grid-template-columns: auto;
}

:global(.dex-count-2) .gameCardList {
  grid-template-columns: auto auto;
}

.gameCard {
  position: relative;
  border-radius: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  box-sizing: initial;
  user-select: none;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.gameCard.clickable {
  cursor: pointer;
}

.gameCard.clickable:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: #fff;
  /*box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);*/
}

.gameCard:active,
.gameCard:focus {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 0px 3px rgba(0, 0, 0, 0.15) inset;
}

.gameCardBody {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.gameCardImage {
  padding: 0.35rem 0.35rem 3rem 0.35rem;
  background-color: #1f1f1f;
  /*box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.45);*/
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.gameCard.clickable:hover .gameCardImage {
  background-color: rgba(255, 255, 255, 1);
}

.gameCard.clickable:hover .gameCardBody {
  color: #000;
}

.gameCardImage img {
  max-width: 180px;
  display: block;
  user-select: none;
}

.gameCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 0.5rem;
}

.gameCardTitle {
  font-size: 0.8rem;
  font-weight: bold;
  background: #262626;
  color: #fff;
  text-align: center;
  padding: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  transition: all 0.2s ease-in-out;
}

.gameCard.clickable:hover .gameCardTitle {
  background: rgba(251, 249, 247, 0.7);
  color: #262626;
}

.gameCardStatsWrapper {
  position: absolute;
  bottom: 0.8rem;
  /*width: 70%;*/
}

.gameCardStats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8em;
  gap: 1.5rem;
}

.editBtn {
  background: #000;
  color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  text-align: right;
}

.editBtn:hover {
  background: var(--color-orange-light);
  color: #fff;
  text-decoration: none;
}

.editBtn:active,
.editBtn:focus {
  background: #000;
  color: #fff;
}

.gameCardDexIcon {
  font-size: 1.8rem;
}

.importer form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto 1rem auto;
  max-width: 920px;
  padding: 1.5rem 1.5rem;
  background: var(--bg-gradient-blue);
  border-radius: 1rem;
  border: 3px solid #000;
  font-size: 1.2rem;
}
