.cache
.next
.turbo
.yarn
apps/
build/
data/
dist
node_modules
packages/
static/
.ignore/
ignore/
.history/
design/
public/

*.zip
*.png
*.webp
*.sqlite
*.db
*.tar.gz

.pnpm-store
.local
v8-compile-*
