# Ignore:
build
.next
.turbo
data
node_modules
public
.yarn/
.cache/
coverage/
pnpm-*.yaml
.history/
v8-compile-cache-*
.pnpm-store
.vercel/
.contentlayer/
.ignore/
generated/
.generated/
assets/**/*.json
styled-system/
.vscode/templates
*-meta.ts
*-meta.js
*.meta.ts
*.meta.js
