/*.dex-game[data-autobg]:before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  left: 0;*/
/*  right: 0;*/
/*  !*z-index: -1;*!*/

/*  display: block;*/
/*  background-repeat: no-repeat;*/
/*  background-position-x: center;*/
/*  background-position-y: center;*/
/*  background-size: cover;*/
/*  width: 100%;*/
/*  height: 100%;*/

/*  filter: blur(600px);*/
/*}*/

/*.dex-game[data-autobg]:before {*/
/*  filter: blur(100px);*/
/*}*/

.dex-game {
  background: var(--bg-gradient-teal);
  background: url('/assets/gui/bgs/la/bg-gray-50.png') center, #f5e7bf;
}

.dex-gameset- {
  background: none;
}

.dex-game .pkBox {
  background: none;
}

.dex-game .pkBox > div:last-child {
  background: rgba(255, 255, 255, 0.5);
}

.dex-game .pkBoxHeader {
  background: rgba(45, 45, 45, 0.85);
}

.dexSocialLinks a {
  opacity: 1;
}

.dex-game-la {
  background: url('/assets/gui/bgs/la/bg-gray.jpeg') center center;
  background-size: 170px;
}

.dex-game-lgpe-lgp {
  background: url('/assets/gui/bgs/la/bg-gray-25.png') center,
    linear-gradient(-10deg, #efe7ae, #f9d94d, #efe7ae);
  background-size: 170px;
}

.dex-game-lgpe-lge {
  background: url('/assets/gui/bgs/la/bg-gray-25.png') center,
    linear-gradient(-10deg, #f2e5b3, #c2803e, #f2e5b3);
  background-size: 170px;
}

.dex-game-go {
  background: url('/assets/gui/bgs/la/bg-gray-50.png') center center, #68a8d7;
  background-size: 170px;
}

.dex-game-home {
  background: linear-gradient(-60deg, #a5eedb, #d0f8a2, #a5eedb);
}

.dex-game-swsh-sh {
  background: url('/assets/gui/bgs/la/bg-gray-50.png') center center, #d76b87;
  background-size: 170px;
}

.dex-game-swsh-sw {
  background: url('/assets/gui/bgs/la/bg-gray-50.png') center center, #85b2b7;
  background-size: 170px;
}

.dex-game-bdsp-sp {
  background: url('/assets/gui/bgs/la/bg-gray-50.png') center center, pink;
  background-size: 170px;
}

.dex-game-bdsp-bd {
  background: url('/assets/gui/bgs/la/bg-gray-50.png') center center, #9cb6d7;
  background-size: 170px;
}

.dex-game-sv-s {
  background: url('/assets/gui/bgs/la/bg-gray-50.png') center, #c52944;
  background-size: 170px;
}

.dex-game-sv-v {
  background: url('/assets/gui/bgs/la/bg-gray-50.png') center, #bb46b9;
  background-size: 170px;
}

/* Previous games (GB-3DS) */

.dex-game-rb-r {
  background-color: #faafa8;
}

.dex-game-rb-b {
  background-color: #b8e5fc;
}

.dex-game-y {
  background-color: #f8e8b3;
}

.dex-game-gs-g {
  background-color: #baab5a;
}

.dex-game-gs-s {
  background-color: #78bbe6;
}

.dex-game-c {
  background-color: #e2c8f6;
}

.dex-game-rs-r {
  background-color: #cb807b;
}

.dex-game-rs-s {
  background-color: #a9c7e7;
}

.dex-game-frlg-fr {
  background-color: #f39f7b;
}

.dex-game-frlg-lg {
  background-color: #ccef81;
}

.dex-game-e {
  background-color: #96e787;
}

.dex-game-dp-d {
  /*background-color: #47A0AF;*/
  background-color: #afebf5;
}

.dex-game-dp-p {
  /*background-color: #C87B9E;*/
  background-color: #efcddc;
}

.dex-game-pt {
  background: #c0c0c0;
}

.dex-game-hgss-hg {
  background-color: #f6e59f;
}

.dex-game-hgss-ss {
  background-color: #d1d9e5;
}

.dex-game-bw-b {
  background-color: #111;
}

.dex-game-bw-w {
  background-color: #eee;
}

.dex-game-b2w2-b2 {
  background-color: #022538;
}

.dex-game-b2w2-b2 .pkBoxGroupWr-separator-title,
.dex-game-bw-b .pkBoxGroupWr-separator-title {
  color: rgba(255, 255, 255, 0.8);
  border-top-color: rgba(255, 255, 255, 0.7);
  border-bottom-color: rgba(255, 255, 255, 0.7);
}

.dex-game-b2w2-w2 {
  background-color: #ffdec9;
}

.dex-game-xy-x {
  background-color: #9fd7ca;
}

.dex-game-xy-y {
  background-color: #cca8b5;
}

.dex-game-oras-or {
  background-color: #cba67b;
}

.dex-game-oras-as {
  background-color: #a9d9e7;
}

.dex-game-sm-s {
  background-color: #ffb646;
}

.dex-game-sm-m {
  background-color: #bc8fd3;
}

.dex-game-usum-us {
  background-color: #380701;
}

.dex-game-usum-um {
  background-color: #1c002a;
}

.dex-game-usum-us .pkBoxGroupWr-separator-title,
.dex-game-usum-um .pkBoxGroupWr-separator-title {
  color: rgba(255, 255, 255, 0.8);
  border-top-color: rgba(255, 255, 255, 0.7);
  border-bottom-color: rgba(255, 255, 255, 0.7);
}
