:root {
  /* Dimensions */
  --menu-height: 50px;
  --toolbar-height: 60px;

  /* Color Presets */
  --dropshadow-black: drop-shadow(1px 1px 0px #000) drop-shadow(1px -1px 0px #000)
    drop-shadow(-1px 1px 0px #000) drop-shadow(-1px -1px 0px #000);
  --dropshadow-black-soft: drop-shadow(1px 1px 0px #333333ee) drop-shadow(1px -1px 0px #333333ee)
    drop-shadow(-1px 1px 0px #333333ee) drop-shadow(-1px -1px 0px #333333ee);
  --dropshadow-white: drop-shadow(1px 1px 0px #ffffff77) drop-shadow(1px -1px 0px #ffffff77)
    drop-shadow(-1px 1px 0px #ffffff77) drop-shadow(-1px -1px 0px #ffffff77);

  --color-black: #1a1a1a;

  --color-gray: #828282;
  --color-gray-dark: #323232;
  --color-gray-light: #b5b5b5;
  --bg-circle-shadow-gray: radial-gradient(
      circle,
      rgba(122, 122, 122, 0.65) 0%,
      rgba(122, 122, 122, 0) 62%
    )
    no-repeat center center;

  --color-white: #f3f3f3;
  --color-white-dark: #efefef;
  --color-white-darker: #d0d0d0;
  --color-white-light: #ffffff;
  --bg-gradient-white: linear-gradient(90deg, var(--color-white-dark), hsla(0, 0%, 100%, 0)),
    var(--color-white-darker);

  --color-beige: #f8f2e9;

  --color-orange: #ff8002;
  --color-orange-light: #f89230;
  --color-orange-lighter: #ffad03;

  --color-green: #79ab00;
  --color-green-brighter: #e4eecc;

  --color-lime: #b6e934;
  --color-lime-light: #d7f89d;

  --color-pink: #ff78bb;
  --color-cyan: #32d6d5;

  --color-navy: #617be9;
  --color-navy-light: #a6b3ff;

  --color-teal: #39b5ac;
  --color-teal-light: #7accab;
  --color-teal-lighter: #92e5cb;
  --bg-circle-shadow-teal: radial-gradient(
      circle,
      rgba(122, 204, 171, 0.65) 0%,
      rgba(122, 204, 171, 0) 62%
    )
    no-repeat center center;
  --bg-gradient-teal: linear-gradient(90deg, var(--color-lime-light), hsla(0, 0%, 100%, 0)),
    var(--color-teal-lighter);

  --color-purple: #9e81d5;
  --color-purple-dark: #73579f;
  --color-purple-darker: #503d6f;
  --color-purple-light: #c8b8f9;
  --color-purple-lighter: #ebd0fb;
  --bg-circle-shadow-purple: radial-gradient(
      circle,
      rgba(200, 184, 249, 0.65) 0%,
      rgba(200, 184, 249, 0) 62%
    )
    no-repeat center center;
  --bg-gradient-purple: linear-gradient(90deg, var(--color-purple-light), hsla(0, 0%, 100%, 0)),
    var(--color-purple);

  --color-blue: #4f7ec4;
  --color-blue-light: #a6cef2;
  --color-blue-lighter: #abeffa;
  --bg-circle-shadow-blue: radial-gradient(
      circle,
      rgba(166, 206, 242, 0.65) 0%,
      rgba(166, 206, 242, 0) 62%
    )
    no-repeat center center;
  --bg-gradient-blue: linear-gradient(90deg, var(--color-blue-light), hsla(0, 0%, 100%, 0)),
    var(--color-blue);

  --color-gold: #ffb406;
  --color-gold-light: #facd6b;
  --color-gold-lighter: #ffe97a;
  --bg-circle-shadow-gold: radial-gradient(
      circle,
      rgba(250, 205, 107, 0.65) 0%,
      rgba(250, 205, 107, 0) 62%
    )
    no-repeat center center;
  --bg-gradient-gold: linear-gradient(90deg, var(--color-gold-lighter), hsla(0, 0%, 100%, 0)),
    var(--color-gold-light);

  /* General */
  --text-color: #2c2931;
  --color-primary: var(--color-purple);
  --color-secondary: var(--color-teal);
  /*noinspection CssUnknownTarget*/
  --bg-pattern: url('/assets/gui/bgs/patterns/pattern-cross-diagonal25.png') repeat;
  --bg-pattern-strong: url('/assets/gui/bgs/patterns/pattern-cross-diagonal25.png') repeat;
  --bg-pattern-cross: url('/assets/gui/bgs/patterns/pattern-cross.png') repeat;
}

.main-site-bg {
  background: var(--color-main-bg) url('/assets/gui/bgs/sv-violet-pattern-sm2.jpg') repeat top left;
  /* background: #b762bb linear-gradient(40deg, #6b3271 0%, #c767d2 50%, #9a4d99 100%) repeat center; */
}

.bg-white {
  background: var(--color-white);
  color: var(--text-color);
}

.bg-white-semi {
  background: rgba(243, 243, 243, 0.5);
  color: var(--text-color);
}

.bg-beige {
  background: var(--color-beige);
  color: var(--text-color);
}

.bg-purple {
  background: var(--color-purple);
  color: var(--color-white);
}

.bg-purple-light {
  background: var(--color-purple-light);
  color: var(--text-color);
}

.bg-teal {
  background: var(--color-teal);
  color: var(--color-white);
}

.bg-teal-light {
  background: var(--color-teal-light);
  color: var(--text-color);
}

.bg-blue {
  background: var(--color-blue);
  color: var(--color-white);
}

.bg-blue-light {
  background: var(--color-blue-light);
  color: var(--text-color);
}

.bg-gold {
  background: var(--color-gold);
  color: var(--text-color);
}

.bg-gold-light {
  background: var(--color-gold-light);
  color: var(--text-color);
}

.bg-gr-white {
  background: var(--bg-gradient-white);
}

.bg-gr-purple {
  background: var(--bg-gradient-purple);
}

.bg-gr-teal {
  background: var(--bg-gradient-teal);
}

.bg-gr-blue {
  background: var(--bg-gradient-blue);
}

.bg-gr-gold {
  background: var(--bg-gradient-gold);
}

.bg-gr-white-pattern {
  background: var(--bg-pattern), var(--bg-gradient-white);
}

.bg-gr-purple-pattern {
  background: var(--bg-pattern), var(--bg-gradient-purple);
}

.bg-gr-teal-pattern {
  background: var(--bg-pattern), var(--bg-gradient-teal);
}

.bg-gr-blue-pattern {
  background: var(--bg-pattern), var(--bg-gradient-blue);
}

.bg-gr-gold-pattern {
  background: var(--bg-pattern), var(--bg-gradient-gold);
}
