:root {
  --color-black-0: #101112;
  --color-black-1: #1a1d1f;
  --color-black-2: #24282b;
  --color-black-3: #676a6c;
  --color-black-4: #b2b4b5;
  --color-white-0: #888785;
  --color-white-1: #cfcdca;
  --color-white-2: #e6e4e2;
  --color-white-3: #f0efed;
  --color-white-4: #faf9f9;
  --color-slate-0: #202329;
  --color-slate-1: #3c4350;
  --color-slate-2: #5a667a;
  --color-slate-3: #8f97a5;
  --color-slate-4: #c8cbd3;
  --color-pink-0: #3d1f30;
  --color-pink-1: #7d3661;
  --color-pink-2: #c34e97;
  --color-pink-3: #db8db9;
  --color-pink-4: #efc8dd;
  --color-green-0: #233017;
  --color-green-1: #426025;
  --color-green-2: #639533;
  --color-green-3: #99b878;
  --color-green-4: #cddcbc;
  --color-blue-0: #313a45;
  --color-blue-1: #617892;
  --color-blue-2: #96bce8;
  --color-blue-3: #bbd2f0;
  --color-blue-4: #dee9f8;
  --color-brown-0: #371d12;
  --color-brown-1: #6d351b;
  --color-brown-2: #a84d24;
  --color-brown-3: #cc886a;
  --color-brown-4: #e9c4b4;
  --color-gold-0: #473b17;
  --color-gold-1: #947b22;
  --color-gold-2: #eac228;
  --color-gold-3: #f6d67a;
  --color-gold-4: #fdebbf;
  --color-teal-0: #1c3734;
  --color-teal-1: #2b6f6a;
  --color-teal-1_5: #267e77;
  --color-teal-2: #37aea5;
  --color-teal-3: #86cac3;
  --color-teal-4: #c6e5e1;
  --color-purple-0: #352f46;
  --color-purple-1: #6b5e94;
  --color-purple-2: #a692eb;
  --color-purple-3: #c5b6f2;
  --color-purple-4: #e3dbf9;
  --color-scarlet-0: #481d23;
  --color-scarlet-1: #942f42;
  --color-scarlet-2: #e93e65;
  --color-scarlet-3: #f88996;
  --color-scarlet-4: #ffc7cb;
  --color-violet-0: #1d163a;
  --color-violet-1: #2f2577;
  --color-violet-2: #3f35ba;
  --color-violet-3: #8975d3;
  --color-violet-4: #c7baea;
  --color-main-bg: #a857ae;
  --color-link: var(--color-teal-1_5);
  --gradient-0: linear-gradient(206deg, #ffc7cb 11%, #c34e97 73%);
  --gradient-1: repeating-linear-gradient(213deg, #1d163a 74%, #c6e5e1 74%);
  --gradient-2: linear-gradient(280deg, #37aea5 18%, #cddcbc 99%);
  --font-size-0: 0.75rem;
  --font-size-1: 0.875rem;
  --font-size-2: 1rem;
  --font-size-3: 1.125rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.5rem;
  --font-size-6: 2rem;
  --font-size-7: 3rem;
  --font-size-8: 4rem;
  --font-size-9: 6rem;
  --font-size-10: 8rem;
  --border-radius-0: 0;
  --border-radius-1: 4px;
  --border-radius-2: 6px;
  --border-radius-3: 8px;
  --border-radius-4: 16px;
  --border-radius-5: 32px;
  --border-radius-6: 9999px;
  --border-width-0: 0;
  --border-width-1: 1px;
  --border-width-2: 2px;
  --border-width-3: 4px;
  --border-width-4: 8px;
  --space-0: 0;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 32px;
  --space-5: 64px;
  --space-6: 128px;
  --space-7: 256px;
  --space-8: 512px;
  --line-height-solid: 1;
  --line-height-heading: 1.25;
  --line-height-body: 1.5;
  --border-style-0: none;
  --border-style-1: solid;
  --font-family-heading: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue',
    helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-family-body: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue',
    helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  --font-family-mono: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --box-shadow-0: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
  --box-shadow-1: 0px 3px 6px 0px rgba(0, 0, 0, 0.16), 0px 3px 6px 0px rgba(0, 0, 0, 0.23);
  --box-shadow-2: 0px 1px 2px 0px rgba(0, 0, 0, 0.07), 0px 2px 4px 0px rgba(0, 0, 0, 0.07),
    0px 4px 8px 0px rgba(0, 0, 0, 0.07), 0px 8px 16px 0px rgba(0, 0, 0, 0.07),
    0px 16px 32px 0px rgba(0, 0, 0, 0.07), 0px 32px 64px 0px rgba(0, 0, 0, 0.07);
  --box-shadow-border: inset 0px 0px 0px 1px currentColor;
  --box-shadow-border-light-overlay: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.13);
  --box-shadow-border-dark-overlay: inset 0px 1px 0px 1px rgba(0, 0, 0, 0.13);
  --duration-0: 250ms;
  --duration-1: 375ms;
  --duration-2: 500ms;
  --easing-function-0: linear;
  --easing-function-1: cubic-bezier(0.828, 0.39, 0.236, 1.167);
  --easing-function-2: ease;
  --letter-spacing-tracked: 0.1em;
  --letter-spacing-negative: -0.05em;
  --letter-spacing-large: 0.25em;
}
