.dex-game,
.dex-game-home {
  background: var(--bg-pattern-strong),
    linear-gradient(91deg, var(--color-lime-light), hsla(0, 0%, 100%, 0)), var(--color-teal-lighter);
}

.dex-game-card-home {
  background: linear-gradient(120deg, var(--color-lime-light), hsla(0, 0%, 100%, 0)),
    var(--color-teal-lighter);
}

/* LEGENDS ARCEUS*/
.dex-game-la {
  background: var(--bg-pattern), linear-gradient(88deg, #7ee1f6, hsla(0, 0%, 100%, 0)), #92e5cc;
}

.dex-game-card-la {
  background: linear-gradient(120deg, #7ee1f6, hsla(0, 0%, 100%, 0)), #92e5cc;
}

/* BRILLIANT DIAMOND */
.dex-game-bd {
  background: url('/assets/gui/bgs/patterns/twinkle-txr-2.png?t=2') center,
    linear-gradient(-96deg, #019edd, hsla(0, 0%, 100%, 0)), #e0f4ff;
}

.dex-game-card-bd {
  background: url('/assets/gui/bgs/patterns/twinkle-txr-2.png?t=2') center,
    linear-gradient(40deg, #29c0ff, hsla(0, 0%, 100%, 0)), #013348;
}

/* SHINING PEARL */
.dex-game-sp {
  background: url('/assets/gui/bgs/patterns/twinkle-txr-2.png?t=2') center,
    linear-gradient(-96deg, #ab74bd, hsla(0, 0%, 100%, 0)), #f6ded6;
}

.dex-game-card-sp {
  background: url('/assets/gui/bgs/patterns/twinkle-txr-2.png?t=2') center,
    linear-gradient(40deg, #e39aff, hsla(0, 0%, 100%, 0)), #3c2942;
}

/* VIOLET */
.dex-game-v {
  background: linear-gradient(rgba(81, 10, 116, 0.47), rgba(81, 10, 116, 0.3)),
    url('/assets/gui/bgs/sv-violet-pattern-sm.jpg') repeat top left;
}

.dex-game-card-v {
  background: url('/assets/gui/bgs/patterns/twinkle-txr-2.png?t=2') center,
    linear-gradient(30deg, #510a74, hsla(0, 0%, 100%, 0), #510a74), #bb51b7;
}

/* SCARLET */
.dex-game-s {
  background: linear-gradient(-100deg, #b22c32, hsla(0, 0%, 100%, 0), #fc2500), #fa976c;

  background: linear-gradient(rgba(93, 14, 51, 0.48), rgba(93, 14, 51, 0.27)),
    url('/assets/gui/bgs/sv-violet-pattern-sm.jpg') repeat top left;
}

.dex-game-card-s {
  background: url('/assets/gui/bgs/patterns/twinkle-txr-2.png?t=2') center,
    linear-gradient(30deg, #5d0e33, hsla(0, 0%, 100%, 0), #5d0e33), #d12342;
}

.dex-game-card-s:hover,
.dex-game-card-v:hover {
  background-color: #fbf02b !important;
}

/* Sword */
.dex-game-sw {
  background: linear-gradient(-85deg, #014ea2, hsla(0, 0%, 100%, 0)), #83f0fa;
}

.dex-game-card-sw {
  background: linear-gradient(-305deg, #014ea2, hsla(0, 0%, 100%, 0)), #83f0fa;
}

/* Shield */
.dex-game-sh {
  background: linear-gradient(-85deg, #db0057, hsla(0, 0%, 100%, 0)), #f5a7c5;
}

.dex-game-card-sh {
  background: linear-gradient(305deg, #db0057, hsla(0, 0%, 100%, 0)), #ffcbd5;
}

/* LG Eevee */
.dex-game-lge {
  background: linear-gradient(-105deg, #c17a3d, hsla(0, 0%, 100%, 0)), #efe7ae;
}

.dex-game-card-lge {
  background: linear-gradient(305deg, #c17a3d, hsla(0, 0%, 100%, 0)), #efe7ae;
}

/* LG Pikachu */
.dex-game-lgp {
  background: linear-gradient(-105deg, #f9d94d, hsla(0, 0%, 100%, 0)), #efe7ae;
}

.dex-game-go {
  background: url('/assets/gui/bgs/patterns/twinkle-txr-2.png?t=2') center,
    linear-gradient(-105deg, #88e6ff, hsla(0, 0%, 100%, 0), #88e6ff), #2254e7;
}

.dex-game-card-go {
  background: url('/assets/gui/bgs/patterns/twinkle-txr-2.png?t=2') center,
    linear-gradient(305deg, #88e6ff, hsla(0, 0%, 100%, 0), #88e6ff), #2254e7;
}

.dex-game-card-go:hover {
  background-color: #256ed9 !important;
}

.dex-game-card-home:hover {
  background-color: #03e59b !important;
}

.dex-game-card-sw:hover,
.dex-game-card-sh:hover {
  background-color: #f8da9c !important;
}

.dex-game-card-la:hover {
  background-color: #8ecc9d !important;
}

.dex-game-card-lgp {
  background: linear-gradient(305deg, #f9d94d, hsla(0, 0%, 100%, 0)), #efe7ae;
}

/*.dex-game-card-s > div:last-child {*/
/*  border-radius: 12px;*/
/*  box-shadow: 0 0 2px 5px rgba(255, 255, 0, 0.53) inset;*/
/*}*/

.dex-game:not(.dex-game-home) .pkBoxHeader {
  background: #2f2f2f;
}
