.dex-game {
  background: url('/assets/gui/bgs/la/bg-gray-25.png') center center;
  background-size: 170px;
}

.dex-game .pkBox {
  background: none;
}
.dex-game .pkBox > div:last-child {
  background: rgba(255, 255, 255, 0.5);
}
.dex-game .pkBoxHeader {
  background: rgba(45, 45, 45, 0.85);
}

/*.dex-game .dexSocialLinks {*/
/*  color: rgba(255, 255, 255, 0.7);*/
/*}*/

/*.dex-game .pkBoxGroupWr-separator-title {*/
/*  color: rgba(255, 255, 255, 0.7);*/
/*  border-color: rgba(255, 255, 255, 0.7);*/
/*}*/

.dex-game:not(.dex-game-home) .dexSocialLinks a {
  opacity: 1;
}

.dex-game-lgp {
  background: url('/assets/gui/bgs/la/bg-gray-25.png') center,
    linear-gradient(-10deg, #efe7ae, #f9d94d, #efe7ae);
}

.dex-game-lge {
  background: url('/assets/gui/bgs/la/bg-gray-25.png') center,
    linear-gradient(-10deg, #f2e5b3, #c2803e, #f2e5b3);
}

.dex-game-go {
  background: url('/assets/gui/bgs/la/bg-gray-25.png') center,
    linear-gradient(-45deg, #88e6ff 0%, #2254e7 33%, #88e6ff 100%);
}

.dex-game-home {
  background: linear-gradient(-60deg, #a5eedb, #d0f8a2, #a5eedb);
}

.dex-game-sh {
  background: url('/assets/gui/bgs/la/bg-gray-25.png') center,
    linear-gradient(-10deg, #cf4075, #5d0e33, #cf4075);
}

.dex-game-sw {
  background: url('/assets/gui/bgs/la/bg-gray-25.png') center center fixed,
    linear-gradient(-45deg, #72d6ff, #264277, #6ad5ff);
}

.dex-game-sp {
  background: url('/assets/gui/bgs/la/bg-gray-25.png') center center fixed,
    linear-gradient(-10deg, #bb7ed5, #edb8ff, #bb7ed5);
}

.dex-game-bd {
  background: url('/assets/gui/bgs/la/bg-gray-25.png') center center fixed,
    linear-gradient(-10deg, #e0f4ff, #016fdd, #abe6ff);
}

.dex-game-la {
  background: url('/assets/gui/bgs/la/bg-gray.jpeg') center center;
  background-size: 170px;
}

.dex-game-s {
  background: url('/assets/gui/bgs/la/bg-gray-25.png') center,
    linear-gradient(-10deg, #d12342, #81041c, #d12342);
}

.dex-game-v {
  background: url('/assets/gui/bgs/la/bg-gray-25.png') center,
    linear-gradient(-10deg, #bb51b7, #510a74, #bb51b7);
}
