@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    position: initial;
    padding: 0;
    margin: 0;
    border: none;
    @apply bg-primary-100 dark:bg-primary-950 text-black dark:text-white;
    max-width: 100vw;
    min-height: 100vh;
    /*noinspection CssInvalidPropertyValue*/
    min-height: -webkit-fill-available;
    min-height: 100dvh;
  }

  html {
    /* prevent pull-to-refresh: */
    overscroll-behavior: none;
    /* . */
  }

  body {
    overscroll-behavior: none;
    overflow-x: hidden;
  }

  svg {
    color: inherit;
  }

  a {
    text-decoration: underline;
  }

  div,
  nav,
  main,
  ul,
  li,
  header,
  footer,
  section,
  article,
  aside,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  table,
  form,
  button,
  input,
  img,
  svg,
  video,
  figure,
  figcaption {
    position: relative;
  }
}
