.dex-game {
  background: var(--color-black-2);
  background: var(--bg-gradient-teal);
}
.dex-game .pkBoxHeader {
  background: var(--color-teal-2);
  border: none;
  box-shadow: none;
}
/* .dex-game,
.dex-game .dexSocialLinks,
.dex-game .pkBoxGroupWr-separator-title {
  color: var(--color-white-2);
  opacity: 1;
} */

.dex-game {
  background: var(--color-teal-4) url('/assets/gui/bgs/patterns/pattern-ball25.png') center center;
}
