@layer base {
  :root {
    --made-with-panda: '🐼'
    }

  *, *::before, *::after, ::backdrop {
    --blur:   ;
    --brightness:   ;
    --contrast:   ;
    --grayscale:   ;
    --hue-rotate:   ;
    --invert:   ;
    --saturate:   ;
    --sepia:   ;
    --drop-shadow:   ;
    --backdrop-blur:   ;
    --backdrop-brightness:   ;
    --backdrop-contrast:   ;
    --backdrop-grayscale:   ;
    --backdrop-hue-rotate:   ;
    --backdrop-invert:   ;
    --backdrop-opacity:   ;
    --backdrop-saturate:   ;
    --backdrop-sepia:   ;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1
    }

  * {
    position: relative;
    box-sizing: border-box
    }

  html, body {
    color: var(--ejwTdZ);
    max-width: 100vw;
    overflow-x: hidden;
    overscroll-behavior: none;
    background: var(--ejwTdZ)
    }

  a {
    color: var(--hwRjVh);
    text-decoration: underline
    }

  img, svg {
    display: block;
    max-width: 100%;
    height: auto
    }

  svg.filled {
    fill: currentColor
    }

  button svg, button img {
    display: inline-block;
    margin: var(--fcTUxn);
    vertical-align: middle;
    pointer-events: none
    }

  .unsupported-browser-overlay {
    display: none !important;
    width: 1px !important;
    height: 1px !important;
    z-index: -1 !important;
    opacity: 0 !important;
    pointer-events: none
    }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark
        }
    }
}