.toggle {
  position: relative;
  user-select: none;
}

.toggle {
  position: relative;
  touch-action: pan-x;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.toggleInput {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.toggleLabel {
  display: block;
  color: #fff;
}

.toggleContainer {
  transition: all 0.2s ease;
  /*align-items: center;*/
  /*justify-content: space-between;*/
  /*justify-items: stretch;*/
  position: relative;
}

.toggleCircle {
  position: absolute;
  top: 0.85rem;
  left: 2.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fafafa;
  box-sizing: border-box;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 0.25s ease;
}

.toggleOn {
  left: -1.75rem;
}

.toggleOff {
  right: -1.75rem;
}

.toggle.unchecked .toggleCircle {
  left: 0.6rem;
}

.toggle.checked .toggleCircle {
  left: 100%;
  margin-left: -2.6rem;
}

.toggle .toggleContainer:hover {
  background: #000;
}

.toggle.checked .toggleContainer {
  background: var(--color-primary);
}
